{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
<main class="form-signin w-100 m-auto">
    <form method="POST">
  
      <div class="col mb-3">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Text some title" name="title">
        
      </div>
      <div class="col mb-3">
        <label for="body">Body</label>
        <textarea id="body" name="body" class="form-control"></textarea>
       
      </div>
  
      
      <button class="btn btn-primary py-2" type="submit">Create</button>
    </form>
  </main>
  {% endblock %}